<h3>Tic Tac Toe Deep Q-Learning</h3>

<ng-container *ngIf="ttt$ | async as ttt">
  <div>
    <div class="episodes">
      <label for="episodes">Episodes</label>
      <p-inputNumber inputId="episodes" [(ngModel)]="episodes"></p-inputNumber>
    </div>

    <div class="actions">
      <button [disabled]="isLoading$ | async" pButton pRipple type="button" label="Train" (click)="train()"></button>
      <button [disabled]="isLoading$ | async" pButton pRipple type="button" label="Test" (click)="test()"></button>
    </div>

    <div class="result">
      <p>Episode: {{ttt.episode}}</p>
      <p>Wins: {{ttt.wins}}</p>
      <p>Losses: {{ttt.losses}}</p>
      <p>Draws: {{ttt.episode - ttt.wins - ttt.losses}}</p>
      <p>Win-Rate: {{(ttt.wins) / (ttt.episode - (ttt.episode - ttt.wins - ttt.losses)) * 100 | number : '1.0-2'}}%</p>
    </div>

    <div class="board">
      <div *ngFor="let column of ttt.state; let yIndex = index" class="column">
        <div *ngFor="let field of column; let xIndex = index" class="field">
          <div *ngIf="field === 0" class="none" (click)="setPiece(ttt, yIndex, xIndex)"></div>
          <div *ngIf="field === 1" class="x">X</div>
          <div *ngIf="field === 2" class="o">O</div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="won || draw">
      <ng-container *ngIf="end$ | async as winner">
        <div *ngIf="winner.draw">
          <h3>Draw</h3>
        </div>
        <div *ngIf="winner.winner === 1">
          <h3>X wins</h3>
        </div>
        <div *ngIf="winner.winner === 2">
          <h3>O wins</h3>
        </div>
        <button [disabled]="isLoading$ | async" pButton pRipple type="button" label="Rematch"
                (click)="rematch(ttt)"></button>
      </ng-container>
    </ng-container>
  </div>
</ng-container>


<h5>Upload DQN Model</h5>
<p-fileUpload [customUpload]="true" (uploadHandler)="uploadDQNModel($event)" [multiple]="true"></p-fileUpload>
<button pButton pRipple type="button" label="Download DQN-Model" (click)="downloadDQN()" class="dqn-action"></button>
